<div class = "header-bar">
  <div class = "header-bar-all">
    <div class = "header-bar-left">
      <div class = "header-bar-logo">
        <%= link_to "ホームへ", root_path %>
      </div>
      <div class = "header-bar-create">
        <%= link_to current_user.nickname,edit_user_path(current_user) %>
      </div>
    </div>
    <div class = "header-bar-light">
      <div class = "header-sign-in">
        <%= link_to "ログイン","#"%>
      </div>
      <div class = "header-sign-out">
        <%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: 'btn'%>
      </div>
    </div>
  </div>
</div>