<div class = "header-bar">
  <div class = "header-bar-all">
    <div class = "header-bar-left">
      <div class = "header-bar-logo">
        <%= link_to "ホームへ"%>
      </div>
      <div class = "header-bar-create">
        <%= link_to "質問する"%>
      </div>
    </div>
    <div class = "header-bar-light">
      <div class = "header-sign-in">
        <%= link_to "ログイン"%>
      </div>
      <div class = "header-sign-out">
        <%= link_to "ログアウト"%>
      </div>
    </div>
  </div>
</div>