<div class="question-chat">
  <div class="side-bar">
    <div class="question-bar">
    投稿
    </div> 
  </div>

  <div class="messages-chat">
    <div class="question-bar">
      質問１
    </div> 
    <div class="question-bar">
      質問１
    </div> 
  </div>
</div>