<div class="question-chat">
  <div class="side-bar">
    <div class="question-bar">
      <div class="question">質問フォーム</div>
      <div class="form">
        <div class="form-input">
          <input class="form-message" placeholder= "type a message">
        </div>
        <input class="form-submit" type="submit" value="質問！">
      </div>
    </div> 
  </div>

  <div class="messages-chat">
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
          Tom
        </div>
        <div class="message-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
          おはよう
        </div>
      </div>
    </div>
    <div class="message">
      <div class="upper-message">
        <div class="message-user">
          Tom
        </div>
        <div class="message-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="lower-message">
        <div class="message-content">
          おはよう
        </div>
      </div>
    </div>
  </div>
</div>