<div class="wrapper">
  <div class="header-bar">
    <%= render "header" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
  <div class="footer">
    <%= render "footer" %>
  </div>
</div>