<header class="header">
  <div class="header-left">
    <div class="header-logo">kaigo</div>
    <div class="header-question">質問投稿</div>
  </div>
  <div class="header-rigth">
    <div class="header-sing-in">ログイン</div>
    <div class="header-sing-out">ログアウト</div>
  </div>
</header>
  